<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'books/error', book: @book %>
    <div class="col-md-3">
      <%= render 'users/users', {book: @book, user: @user} %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          　<tr>
              <td>
                <% if user.profile_image.attached? %>
                  <%= image_tag user.profile_image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'doraemon.png', size: "100x100" %>
                <% end %>
              </td>
              <td>
                <p><%= user.name %></p>
              </td>
              <td>
                <%= link_to "show", user_path(user.id) %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>

